*{
    padding: 0px;
    margin: 0px;
    background-color: aquamarine;
}

:root{
    --top-left: 0px;
    --top-right: 0px;
    --bottom-left: 0px;
    --bottom-right: 0px;

    --advanced-top-left: 0px;
    --advanced-top-right: 0px;
    --advanced-bottom-left: 0px;
    --advanced-bottom-right: 0px;

    --advanced-visibility: hidden;
}

.box_area{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50em;
    width: 100%;
    background-color: purple;
}

.box{
    height: 50%;
    width: 20%;
    border: 4px solid black;
    background-color:yellow;
    
    border-radius: var(--top-left)var(--top-right)var(--bottom-right)var(--bottom-left) 
    / var(--advanced-top-left)var(--advanced-top-right)var(--advanced-bottom-right)var(--advanced-bottom-left); 
   
}

#top-left{
    border: 1px solid red;
    width: 9em;
    height: 2em;
}

#top-right{
    
    border: 1px solid red;
    width: 9em;
    height: 2em;
}

#bottom-right{
    border: 1px solid red;
    width: 9em;
    height: 2em;
}

#bottom-left{
    border: 1px solid red;
    width: 9em;
    height: 2em;
}

#advanced-top-left{
    border: 1px solid red;
    width: 9em;
    height: 2em;
}

#advanced-top-right{
    
    border: 1px solid red;
    width: 9em;
    height: 2em;
}

#advanced-bottom-right{
    border: 1px solid red;
    width: 9em;
    height: 2em;
}

#advanced-bottom-left{
    border: 1px solid red;
    width: 9em;
    height: 2em;
}
.inputs{
    display: flex;
    justify-content: space-around;
    font-size: 22px;
    text-align: center;
    flex-direction: row;
}

.advanced-inputs{
    display: flex;
    justify-content: space-around;
    font-size: 22px;
    text-align: center;
    flex-direction: row;
    visibility: var(--advanced-visibility);
}

.input-area{
    display: flex;
    flex-direction: column;
}

#advanced-settings{
    text-align: center;
    margin: 120px;
    font-size: 20px;
}

.unit{
    display: flex;
    justify-content: center;
    font-size: 23px;
    
    
}

.copy-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.copy-text button{
    padding: 10px;
    font-size: 20px;
}